div {
  text-align: center;
  justify-content: center;
}

button {
  margin: 0 10px;
  background-color: rgb(83, 109, 255);
}

.images {
  display: flex;
}

img {
  margin: 0 50px;
  height: 250px;
}